In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [51]:
path = 'nirs/'
i = 1
j = 1
for file in os.listdir(path):
    if 'ml211023(' in file:
        with open(path+file, 'r') as f:
            lines_l = f.readlines()
            with open(f'{path}ml_{i}.csv', 'w') as fn:
                for line in lines_l[1:]:
                    fn.write(line)
        i+=1
    elif 'ms211023(' in file:
        with open(path+file, 'r') as f:
            lines_m = f.readlines()
            with open(f'{path}ms_{j}.csv', 'w') as fn:
                for line in lines_m[1:]:
                    fn.write(line)
        j+=1

In [52]:
d = pd.read_csv('nirs/ml_1.csv')
d

      Wavelength [nm]  Log(1/R)  Unnamed: 2
0               400.0  0.371180         NaN
1               402.0  0.384039         NaN
2               404.0  0.397924         NaN
3               406.0  0.411822         NaN
4               408.0  0.425202         NaN
...               ...       ...         ...
1045           2490.0  0.957499         NaN
1046           2492.0  0.958864         NaN
1047           2494.0  0.959955         NaN
1048           2496.0  0.960820         NaN
1049           2498.0  0.961428         NaN

[1050 rows x 3 columns]

In [53]:
d.columns

Index(['Wavelength [nm]', 'Log(1/R)', 'Unnamed: 2'], dtype='object')

In [54]:
data = {'wavelength':d['Wavelength [nm]']}

In [55]:
data_ml, data_ms = data.copy(), data.copy()

In [56]:
for i in range(1, len(cols_n)+1):
    data_ml[cols_n[i-1]] = pd.read_csv(f'{path}ml_{i}.csv')['Log(1/R)']
    data_ms[cols_n[i-1]] = pd.read_csv(f'{path}ms_{i}.csv')['Log(1/R)']

In [57]:
df_ml = pd.DataFrame.from_dict(data_ml)
df_ms = pd.DataFrame.from_dict(data_ms)

In [58]:
df_ml.to_csv('ml_master.csv', index=False)
df_ms.to_csv('ms_master.csv', index=False)